@import url("../css/variables.css");
@import url("https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

header {
  background-color: var(--color-neutral-1);
  padding: 12px 4px;
  position: sticky; /* faz o elemto grudar no topo quando rolamos a página*/
  top: 0; /* precisamos disso para o sticky funcionar*/
  z-index: 1; /* conrola a ordem do empilhamento quem fica por cima de quam quando por exemplo a rolageam acontece garante que o header fiuque por cima*/

  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo {
      width: 180px;
    }

    ul {
      display: none;
      list-style: none;
      flex-direction: column;
      gap: 0.5rem;
      width: 100%;
      position: absolute;
      top: 80px;
      background-color: var(--color-neutral-1);
      left: 0;
      padding: 1rem;

      &.show /*esse & chama ele mesmo e essa classe show será adicionada no js*/ {
        display: flex;
      }

      li {
        text-align: center;

        a {
          color: var(--color-neutral-8);
          text-decoration: none;
          font-size: 1rem;
          font-weight: 500;
          transition: all 0.3s ease;

          &:hover {
            color: var(--color-primary-1);
            border-bottom: 1px solid var(--color-primary-1);
          }
        }
      }
    }

    .btn-defaut {
      display: none;
    }
  }
}
